*.egg-info/
*.pyc
*.pyd
*.pyo
*.sublime-*
.coverage
.DS_Store
.env*
.env*.local
.pytest_cache/
.Python
.venv/
.vercel
.vercel/
.antigravitycli/
__pycache__/
build/
dist/
htmlcov/
instance/
venv/
.ruff_cache/
