---
import Layout from "@/layouts/Layout.astro";
---

<Layout {...Astro.props}>
  <nav>
    <ul>
      <li>
        <a href="./administracion">
          <img src="./favicon.png" width="60" />
        </a>
      </li>
      <li>
        <a href="./empleados">Empleados</a>
      </li>
      <li>
        <a href="./perfil">Perfil</a>
      </li>
      <li>
        <a href="./salir">Salir</a>
      </li>
    </ul>
  </nav>
  <slot />
</Layout>
