<!doctype html>
<html
  lang="<?= $_ENV['APP_LOCALE'] ?>"
  data-auth-info='<?= json_encode(auth()->user()?->getAuthInfo() ?? []) ?>'
  data-clients='<?= json_encode($clients) ?>'
  data-revenue='<?= json_encode($revenue) ?>'
  data-returns='<?= json_encode($returns) ?>'
  data-conversion-rate-percentage='<?= json_encode($conversionRatePercentage) ?>'
  data-current-year-reservations-per-month='<?= json_encode($currentYearReservationsPerMonth) ?>'
  data-reservations-per-year='<?= json_encode($reservationsPerYear) ?>'
  data-reservation-sales='<?= json_encode($reservationSales) ?>'
  data-current-month-reservation-sales-per-day='<?= json_encode($currentMonthReservationSalesPerDay) ?>'
  data-reservation-sales-per-month='<?= json_encode($reservationSalesPerMonth) ?>'
  data-current-year-sales='<?= json_encode($currentYearSales) ?>'
  data-current-year-sales-per-month='<?= json_encode($currentYearSalesPerMonth) ?>'
  data-current-year-sales-average='<?= json_encode($currentYearSalesAverage) ?>'
  data-current-year-sales-average-per-month='<?= json_encode($currentYearSalesAveragePerMonth) ?>'
  data-customer-satisfaction='<?= json_encode($customerSatisfaction) ?>'
  data-new-products='<?= json_encode($newProducts) ?>'
  data-total-profit='<?= json_encode($totalProfit) ?>'
  data-total-reservations='<?= json_encode($totalReservations) ?>'
  data-average-price='<?= json_encode($averagePrice) ?>'
  data-product-sold='<?= json_encode($productSold) ?>'
>
  <head>
    <!-- Title -->
    <title>Bienvenido | <?= $_ENV['APP_NAME'] ?></title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Dashboard Kit react with webpack admin template made using bootstrap 5 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs."
    />
    <meta
      name="keywords"
      content="Admin templates, Bootstrap Admin templates, React, Webpack, bootstrap 5, Dashboard, Dashboard Templates, sass admin templates, html admin templates, Responsive, Bootstrap Admin templates free download, React Admin templates free download,premium Bootstrap Admin templates,premium React Admin templates download"
    />
    <meta name="author" content="CodedThemes" />
    <meta name="theme-color" content="#000000" />
    <!-- Favicon & Manifest -->
    <link rel="icon" href="/favicon.png" />

    <!-- Google Fonts Style -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" /> -->
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script type="module" src="/src/index.jsx"></script>
  </body>
</html>
